extends layouts/elements

prepend site-title
  | #{page.title} &mdash;&nbsp;

block content
  
  include partials/menu
  
  .ui.main.text.container
    .ui.cards
      - site.posts.each(function(page, i) {
        a.ui.fluid.card(href="#{page.path}")
          .content
            .header #{page.title}
            .meta
              .right.floated.time #{page.date}
            .description
              p !{page.excerpt}
          .extra.content
            .right.floated.meta
              if (page.author)
                include partials/author
            .left.floated.star
              i.icon.star
              
      - });
