extends layouts/elements

prepend site-title
  | #{page.title} &mdash;&nbsp;

block content
  
  include partials/menu
  
  .ui.main.text.container
    .ui.right.floated.tiny.buttons
      include partials/edit-self

    h2 #{page.title}
    if (page.image)
      img.ui.image.right.floated.small(src="#{page.image}")
    if (page.description)
      h3 #{page.description}
    if (page.branch)
      a.ui.button.large.primary(href="https://github.com/ElementsProject/elements/tree/#{page.branch}")
        i.icon.code
        code #{page.branch}
    

    .content !{page.content}
